<div class="center jumbotron">
  <h1>Welcome to my website!</h1>

  <h2>
 I starRAILSted this website as the sample app for the Ruby on Rails Tutorial by Micheal Hartl in June 2017 when I found time outside of my role at KPMG. The application utilizes a RESTful Rails API to handle user authentication, user authorization, microposting, and user relationships.  I finished to tutorial in August 2017 and spent some time experimenting with design and creation of additional features.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>