<% provide(:title, "about") %>
<h1>about</h1>
<p>
  Hi, I am Bill Hickey, a software developer based in Minnesota. This website was the beginning of my learning in web developerment. Since creating this application I have moved further into web developement through exploring Javascript on the front-end with Angular and React and on the back-end with Node and Express. In May 2018, I began classes at Prime Digital Academy in Minneapolis, Minnesota. For more information on me and my career see me at <a href="http://billhickey.me">billhickey.me.<a>
</p>