<div class="center jumbotron">
  <h1>Welcome to my website!</h1>

  <h2>
 I started this website as the sample app for the Ruby on Rails Tutorial by Micheal Hartl. I have been experimenting with design and creation of additional features since completion of the course.
  </h2>

  <%= link_to "Sign up now if you want, but it won't get you much right now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
